@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Base Stuff*/
:root {
  --primaryCol: #141414;
  --secondaryCol: #2DC7FF;
  --textCol: white;
  --fontPrimary: 'Poppins', sans-serif;
}
.debug {
  outline: 1px solid red;
  color: red;
}
li::marker {
  content: '➥ ';
  font-size: 1.2em;
}

/* Text */
.text-header-jumbo {
  font-size: 3.5rem;
  color: var(--secondaryCol);
  font-family: var(--fontPrimary);
  margin-top: 1rem;
}
.text-header-big {
  font-size: 2.5rem;
  color: black;
  font-family: var(--fontPrimary);
}
.text-subtitle {
  font-size: 1.5rem;
  color: white;
  font-family: var(--fontPrimary);
  margin-top: 1rem;
}

/* Homepage */
.home-format {
  margin: auto;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  justify-content: center;
  margin-top: 5%;
}
.home-picture {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-button {
  background-color: var(--secondaryCol) !important;
  color: var(--primaryCol) !important;
  border-radius: 30px !important;
  border: .5rem solid transparent !important;
  /* padding-left: 1.2rem !important;
  padding-right: 1.21rem !important; */
  font-size: 1rem !important;
  font-family: var(--fontPrimary) !important;
  font-weight: bold;
  margin-top: 2rem;
}
.home-button:hover{
  background-color: transparent !important;
  border: 5px solid white;
  transition: 600ms !important;
}
.home-button-container {
  margin-top: 20px;
  text-align: center;
}

/* Projects Page */
.projects-format {
  margin: auto;
  width: 90%;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}
.projects-entry {
  box-sizing: border-box;
  width: calc(33.33% - 20px);
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}
.projects-title {
  font-size: 6vw;
  color: var(--secondaryCol);
  font-family: var(--fontPrimary);
  margin-bottom: 15px;
}
.projects-card {
  margin-left: 5px;
  margin-right: 5px;
}

.App-background {
  background-color: var(--primaryCol);
  min-height: 100vh;
  }

/* Individual Project Page */
.project-format {
  margin-top: 30px;
}
.project-title {
  font-size: 2rem;
  color: var(--secondaryCol);
  font-family: var(--fontPrimary);
  text-align: center;
}
.project-subheader {
  text-align: center;
  margin-top: 30px;
}
.project-info {
  font-size: 1.5rem;
  color: var(--secondaryCol);
  font-family: var(--fontPrimary);
  display: inline;
}
.project-subtitle {
  font-size: 1.5rem;
  color: var(--secondaryCol);
  font-family: var(--fontPrimary);
  text-align: center;
  font-weight: bold;
}
.project-text {
  font-size: 1 rem;
  color: var(--textCol);
  font-family: var(--fontPrimary);
  margin-top: 5px;
}
.project-pill{
  /* border: 3px solid;
  border-radius: 20px;
  border-color: var(--secondaryCol);
  padding: 10px; */
  padding-top: 20px;
  padding-bottom: 2px;
  max-width: 50rem;
  width:auto;
  
}
.project-picture {
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Nav Bar */
.navVertAlign {
  align-items: center;
}
.navName {
  color: var(--textCol);
  font-family: var(--fontPrimary);
  font-size: 1.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.navName:hover {
  color: var(--secondaryCol);
  transition: 300ms;
}
.navElements {
  justify-content: end;
  margin-right: 2rem;
}
.navElement {
  color: var(--textCol);
  font-family: var(--fontPrimary);
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.navElement:hover {
  color: var(--secondaryCol);
  transition: 300ms;
}
.navButton {
  background-color: var(--secondaryCol) !important;
  color: var(--primaryCol) !important;
  border-radius: 30px !important;
  border: 5px solid transparent !important;
  /* padding-left: 1.2rem !important;
  padding-right: 1.21rem !important; */
  font-size: 1rem !important;
  font-family: var(--fontPrimary) !important;
  font-weight: bold;
}
.navButton:hover {
  background-color: white !important;
  color: var(--primaryCol) !important;
  transition: 300ms;
}

.test {
  display: flex;
}

